@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    /*background-color: #fadcac;
    /*color: white;*/
    margin-left: 10%;
    margin-right: 10%;
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: #065446;
}

.location-section{
    display: flex;
    justify-content: space-around;
}

.location{
    display: flex;
}

.location-title{
    padding-right: 7px;
    font-weight: 600;
}

.topic{
    display: flex;
    justify-items: center;
    color: #158467;
}

.topic-title{
    font-weight: 600;
    font-size: 1.1rem;
    padding-right: 8px;
    color: #197163;
}

.topic-detail{
    font-size: 1.1rem;
    color: #197163;
}

.notes{
    font-size: 1.8rem;
    padding-top: 1rem;
    color: #065446;
}